<div class="container">
    <br/>
    <br/>
    <br/>
<div class="jumbotron">
  <h1 class="display-5">A compra foi feita com sucesso</h1>
 
  <hr class="my-4">
   <p class="lead">Detalhes da compra</p>
  <p>External_reference: {{external_reference}}</p>
  <p>preference_id: {{preference_id}}</p>
  <a class="btn btn-primary btn-lg" href="/" role="button">PROSSEGUIR</a>
</div>
</div>

<script src="https://www.mercadopago.com/v2/security.js" view=""></script> --}}